<style>
    footer {
        background-color: #00695c;
        color: white;
        padding: 20px;
        text-align: center;
    }

    /* Tablet */
    @media (min-width: 740px) and (max-width: 1023px) {
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    /* Mobile */

    @media (max-width: 739px) {
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
</style>

<footer class="">
    Made with ❤️ vvm1004
</footer>
<script src="/js/main.js"></script>
</body>

</html>